*{
    margin: 0;
}

body{
    margin: 0;
    background-color: blanchedalmond;
}

/*Keyframes*/
/* Se utilzia para definir animaciones permite crear una secuencia de fotograms*/

@keyframes cambiarcolores {
    0%{ 
        background-color: #ebebeb;
    }
    25%{
        background-color: #ffa157;
    }
    50%{
        background-color: #ffa157;
    }
    75%{
        background-color: #ffa157;
    }
    100%{
        background-color: #ebebeb;
    }
}


@keyframes volar {
    0%{}
    20%{
        transform: translate(200px, 0) scale(0.5);
    }
    30%{
        transform: translate(200px, 0) rotate(90deg) scale(1.1); 
    }
    40%{
        transform: translate(200px,200px) rotate(40deg) scale(0.5);
    }
    50%{
        transform: translate(200px, 200px) rotate(180deg) scale(1.1);
    }
    100%{
        
    }
}

.circulo{
    background-color: #ebebeb;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    animation: volar 3s infinite,cambiarcolores 2s infinite;
    /*Simula un rebote, utiliza una curva personalizada*/
    /*
    animation-timing-function: steps(5,end);
    *//*
    animation-timing-function: step-end;
    *//*comienza rapido lento luego
    animation-timing-function: ease-in-out;*/
    /*comienza rapido, descacelera luego
    animation-timing-function: ease-in;*/
}
