*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --main-color : #363636;
    --title-text-color: #cc527a;
    --text-light-color: #a8a7a7;
    --buttom-color: #e8175d;
    --text-color: #474747;
}

.download{
    background: var(--main-color);
    text-align: center;
    width: 100%;
    padding-top: 4%;
}

.download a{
    color: var(--text-light-color);
}

.title{
    color: var(--title-text-color);
    font-size: 2rem;
    margin-bottom: 2%;
}

.content{
    color: var(--text-light-color);
    margin: 2% 0;
}

.container-form{
    width: 80%;
    margin: auto;
    text-align: center;
}


.icon{
    position: absolute;
    left: 19%;
    top: 32%;
}

.ultimo{
    padding-bottom: 3%;
}

.container-input input[type="text"]{
    padding: 1.5%;
    width: 60%;
    border: none;
    background-color: var(--text-light-color);
}



.container-input button{
    background-color: #e8175d;
    padding: 1.5%;
    width: 15%;
    border: none;
    border-radius: 0 10px 10px 0;
}

.container-input select{
    padding: 1.43%;
    width: 15%;
    background-color: var(--text-light-color);
    border-radius: 20px 0 0 20px;
}
button:hover{
    cursor: pointer;
    background-color: #5f0;
}

footer{
    background-color: var(--main-color);
    color: var(--text-light-color);
    text-align: center;
    width: 100%;
    padding-top: 3%;
    align-items: center;
}

footer h2{
    font-size: 2rem;
}

.container-social-media{
    display: flex;
    margin: auto;
    width: 60%;
    margin-top: 2%;
    text-align: center;
}

.container-social-media a{
    margin: auto;
    text-decoration: none;
    color: var(--text-light-color);
}

.container-social-media a div{
    margin-top: 20px;
    margin-bottom: 10px;
}

.autors p{
    margin-top: 5px;
}

.container-videos{
    width: 100%;
    display: flex;
    margin: 4% 0;
}

.container-videos-destacados{
    background-color: #fff;
}

.destacados{
    color: var(--text-color);
    text-align: center;
    font-size: 3rem;
    margin-top: 3rem;
}

.container-videos div{
    margin: auto;
    text-align: center;
}

.container-videos video{
    width: 90%;
    box-shadow: 0 0 10px black;
}



