body{
    background: rgb(2,137,143);
background: linear-gradient(90deg, rgba(2,137,143,0.3512476007677543) 58%, rgba(0,212,255,0.4971209213051824) 100%);
}

input[type="text"]{
    background: transparent;
    border-bottom: 1px solid #000;
    border-radius: 0px;
    color: black;
}

input{
    border-radius: 10px;
    border: 0;
    outline: none;
}

input[type="submit"]{
    background-color: #ed213a;
    width: 100%;
    color: #fff;
}

input[type="text"]::placeholder{
    color:  #fff ;
}